.container {
  max-width: 1300px;
  margin: auto;
  padding: 30px 50px 200px 50px;
  position: relative;
  min-height: 100vh;
}

.input {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

@media screen and (max-width: 719px) {
  .container {
    padding: 30px 5% 300px 5%;
  }

  .input {
    align-items: stretch;
    flex-direction: column;
  }
}
