.select {
    margin-top: 25px;
    font-size: 20px;
    padding: 5px;
    background: white;
    color: black;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
}

.select:focus-visible {
    outline: none;
}

.label {
    font-size: 20px;
    color: rgb(235, 235, 235);
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 719px) {
    .select {
        font-size: 18px;
        padding-right: 0;
    }
    
    .label {
        font-size: 18px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}